.example-01 {
	color: tomato;
}

body {
  font-family: 'Roboto', sans-serif;
}
.logo {
	height: 6em;
	padding: 1.5em;
	will-change: filter;
	transition: filter 300ms;
}
.logo:hover {
	filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
	filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.app-container {
	display: flex;
}

p {
	margin: 0;
}

header {
	flex-shrink: 0;

	ul {
		display: flex;
		flex-direction: column;
	}
}

.screen {
	width: 100%;
	.heading {
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 56px 40px;
		color: #fff;
		background-color: #574f7d;
	}

	h3 {
		margin: 0;
		font-size: 36px;
	}

	.list {
		background-color: #3c2a4d;
		padding: 58px 32px;
		color: #fff;

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 32px;
		}

		a {
			color: #fff;
			text-decoration: none;
		}

		.list-item {
			width: 180px;
			padding: 24px;
			border-radius: 16px;
			background-color: #574f7d;
			font-size: 16px;
		}

		.list-item-two {
		}
	}
}
.page {
	flex: 1;
}

.round-actions {
	display: flex;
	gap: 24px;
	justify-content: center;
}
.round {
	display: flex;
	flex-direction: column;
	background-color: #3c2a4d;
}

.round-games {
	display: flex;
	flex-wrap: wrap;
	gap: 12px;
	padding: 8px;
	justify-content: center;
}

.match-card {
	width: 200px;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 32px;
	padding: 16px;
	background-color: #fff;

	input {
		width: 30px;
	}
}

.local-and-date {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.teams {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.home,
.away {
	display: flex;
	gap: 8px;
}

.guess {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.demo-section {
	display: flex;
	justify-content: space-between;
}

.section-wrapper {
	min-width: 500px;
	border: 1px solid tomato;
}
