#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}

.app-container {
	display: flex;
}

header {
	flex-shrink: 0;

	ul {
		display: flex;
		flex-direction: column;
	}
}

.screen {
	width: 100%;
	.heading {
		flex: 1;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 56px 40px;
		color: #fff;
		background-color: #574f7d;
	}

	h3 {
		margin: 0;
		font-size: 36px;
	}

	.list {
		background-color: #3c2a4d;
		padding: 58px 32px;
		color: #fff;

		ul {
			display: flex;
			flex-wrap: wrap;
			gap: 32px;
		}

		a {
			color: #fff;
			text-decoration: none;
		}

		.list-item {
			width: 180px;
			padding: 24px;
			border-radius: 16px;
			background-color: #574f7d;
			font-size: 16px;
		}

		.list-item-two {
			
		}
	}
}
.page {
	flex: 1;
}

.round-actions {
	display: flex;
	gap: 24px;
	justify-content: center;
}
.round {
	display: flex;
	flex-direction: column;
}

.round-games {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.game {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 8px;
}

.local-and-date {
	display: flex;
	gap: 8px;
	align-items: center;
	justify-content: center;
}

.teams {
	display: flex;
	justify-content: center;
	gap: 4px;
}

.home,
.away {
	display: flex;
	gap: 4px;
}

.demo-section {
	display: flex;
	justify-content: space-between;
}

.section-wrapper {
	min-width: 500px;
	border: 1px solid tomato;
}
